@page "/results"

@inject MatchesClient matchesClient
@inject IFileUrlProvider fileUrlProvider
@inject IDialogService dialogService
@inject NavigationManager navManager

<PageTitle>Results</PageTitle>

@if (matches == null)
{
    <Loading />
}
else
{
    <div style="width: 100%">
        <FluentLabel Style="float:left" Typo="Typography.PageTitle" Color="Color.Accent" MarginBlock="default">Results</FluentLabel>
    </div>

    <FluentStack Orientation="Orientation.Vertical">
        @foreach (var match in matches.OrderByDescending(r => r.DateTime))
        {
            <MatchCard Match="@match" />
        }
    </FluentStack>
}

@code {
    private IReadOnlyCollection<MatchListItem>? matches;

    protected override async Task OnInitializedAsync()
    {
        matches = await matchesClient.GetMatchesAsync(isFinished: true);
    }
}
