.team-place {
    width: 30px;
    float: left;
    line-height: 2rem;
    color: var(--accent-fill-rest);
    padding-top: 3px;
}

.team-logo {
    width: 85px;
    float: left;
    text-align: center;
    padding-top: 3px;
}

.team-logo-image {
    height: 2rem;
    margin: auto;
}

.team-name {
    float: left;
    line-height: 2rem;
    color: var(--accent-fill-rest);
    font-weight: bold;
    font-size: var(--type-ramp-plus-2-font-size);
    padding-top: 3px;
    width: 300px;
}

.team-prize {
    float: left;
    line-height: 2rem;
    color: var(--neutral-fill-strong-active);
    font-style:italic;
    font-weight: bold;
    font-size: var(--type-ramp-plus-1-font-size);
    padding-top: 3px;
}